*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    color: hsla(0, 0%, 0%, 0.8);
    background-image: linear-gradient(to right, rgb(224, 168, 168), rgb(235, 87, 87));
    font-family: "MonumentExtended-Regular", serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizelegibility;
  }
  .container {
    
  }
  
  @font-face {
    font-family: "MonumentExtended-Regular";
    src: url("../fonts/MonumentExtended-Regular.woff2");
  }

  @font-face {
    font-family: "Swis721 BT Roman";
    src: url("../fonts/Swis721BTRoman.woff2");
  }

/* Background Noise */

  .container::before {
    animation: grain 13s steps(10) infinite;
    background-image: url("../images/noise.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    top: -110%;
    width: 300%;
  }
  
  @keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }
  